n8n/workflows/test.json
{
  "id": "test-workflow-manual",
  "name": "Test Job - Manual",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/data/jobs/test.json', 'utf8'));\nreturn [{ json: { config, source: config.sources[0] } }];"
      },
      "id": "load-config",
      "name": "Load Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source.url }}"
      },
      "id": "fetch-rss",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Load Config').first().json.config;\nconst article = $input.first().json;\n\nif (!article || !article.title) throw new Error('No article returned from RSS feed');\n\nconst title = article.title || 'Untitled';\nconst description = article.contentSnippet || article.content || article.summary || '';\nconst link = article.link || '';\n\nconst systemPrompt = config.system_prompt;\nconst userPrompt = `${config.user_prompt_format}\\n\\n- **${title}**: ${description.substring(0, 400)}`;\n\nreturn [{\n  json: {\n    config,\n    articleTitle: title,\n    articleLink: link,\n    // Pre-build the Ollama request body to avoid n8n expression serialisation issues\n    ollamaBody: JSON.stringify({\n      model: config.model,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user',   content: userPrompt }\n      ],\n      stream: false,\n      options: config.ollama_options || {}\n    })\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.ollama_url || 'http://host.docker.internal:11434/api/chat' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaBody }}",
        "options": {}
      },
      "id": "ollama-summarize",
      "name": "Ollama Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Load Config').first().json.config;\nconst response = $input.first().json;\nconst promptData = $('Prepare Prompt').first().json;\n\nconst summary = response?.message?.content || 'No summary returned.';\n\nlet webhookUrl = config?.discord?.webhook_url || '';\nconst envVar = config?.discord?.webhook_url_env;\nif (!webhookUrl && envVar && $env[envVar]) webhookUrl = $env[envVar];\nif (!webhookUrl) throw new Error(`No Discord webhook URL. Set ${envVar || 'TEST_DISCORD_WEBHOOK_URL'} in .env or discord.webhook_url in jobs/test.json`);\n\nconst today = new Date().toISOString().split('T')[0];\nconst discordBody = JSON.stringify({\n  username: config?.discord?.username || 'Test News Bot',\n  embeds: [{\n    title: `${config?.name || 'Test Digest'} - ${today}`,\n    description: summary,\n    color: config?.discord?.embed_color || 16711680,\n    footer: { text: promptData?.articleTitle || '' }\n  }]\n});\nreturn [{ json: { webhookUrl, discordBody } }];"
      },
      "id": "format-discord",
      "name": "Format Discord",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordBody }}",
        "options": {}
      },
      "id": "send-discord",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config": {
      "main": [
        [
          {
            "node": "Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Ollama Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Summarize": {
      "main": [
        [
          {
            "node": "Format Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Discord": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "test",
      "id": "tag-test"
    }
  ],
  "description": "Minimal test: fetch 1 BBC article, summarize with Ollama, post to Discord."
}